[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa-nlu = {version = "*", extras = ["spacy", "tensorflow"]}
botbuilder-core = "*"
uvloop = "==0.8.1"
japronto = "*"
requests = "*"
"beautifulsoup4" = "*"
roman = "*"
tinydb = "*"
thinc = "*"
numpy = "==1.13.3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
